myst-parser>=1,<5  # Docs markup; cap to support wide range of py versions
sphinx>=5,<9  # Docs generator; cap to range confirmed supported by deps
sphinx-book-theme>=1,<2  # Docs theme; cap to support wide range of py versions
